@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

@layer utilities {
  .field-group {
    @apply flex flex-col gap-2;
  }

  .field {
    @apply rounded-lg p-2 border outline-none text-gray-600 border-gray-300 focus:border-blue-500;
  }
}
